<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>

    {{> header}}

    <!-- call screamIt helper function with parameter welcomeMessage -->
    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}
  </body>
</html>
